body {
}

a {
    text-decoration: none;
}

.sec1 {
    background-image:  linear-gradient(to bottom, #39394f, #1d1d2a 92%);
    color: white;
}

.utorrentgreen {
    color: rgb(118, 184, 63);
}

.dl-btn {
    font-size: larger;
    text-transform: uppercase;
    background-color: rgb(118, 184, 63);
    color: white;
}

.dl-btn:hover {
    color: white;
    background-color: #52a310;
    transition: .5s;
    transform: translate(-1px, -1px);
}